#div_pai {
    width: 100%;
    height: 500px;
    background-color: rgb(117, 14, 57);
}

#div_filha {
    background-color: #e57d90;
    width: 10%;
    height: 100%;
}

#primeiro_paragrafo {
    color: rgb(117, 14, 57);
    background-color: #fcc4cd;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

#segunda_div_pai{
    width: 100%;
    height: 10vh;
    background-color: rgb(117, 14, 57);
}

#segunda_div_filha {
height: 10%;
width: 100%;
background-color: #fcc4cd;
}